.project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.image-container {
    border-radius: 15px; 
    border: 15px solid black;
    border-top: 20px solid black;
    border-bottom: 23px solid black;
    box-shadow: 0 0 0 2px white;
    margin: 10px;
    margin-right: 0;
    width: 40%;
}

.image-container img {
    width: 100%;
    margin-right: 0;
}

.tech-container span, .tags {
  border: 2px solid whitesmoke;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  margin: 0.3rem;
}

.tech-container span {
  color: black;
}

.tech-container {
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }

.info-container {
  align-items: flex-end;
  background-image: linear-gradient(var(--color2), var(--color3), var(--color4)) ;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: var(--textWhite);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 10px;
  margin-left: 2px;
  padding: 15px;
  width: 40%;
}

.projectName, .aboutProject, .links-container-2 {
  font-family: 'Nunito', sans-serif;
  margin: 5px;
}

.projectName {
  white-space: nowrap;
}

.aboutProject {
  text-align: end;
  font-size: 18px;
  margin-left: 15px;
}

.links-container-2 {
  justify-content: flex-end; 
  width: auto;
}

.links-container-2 p {
  display: flex;
  margin: 6px 0;
  margin-top: 0;
  font-weight: 600;
}

.links-container-2 a {
  margin-left: 4.8px;
  margin-right: 10px;
  margin-top: 6px; 
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .project-card {
    display: flex;
    flex-direction: column;
  }
  
  .image-container {
    margin: 10px;
    margin-bottom: 2px;
    width: 80%;
  }
  
  .info-container {
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 0;
    height: auto;
    margin: 10px;
    margin-top: 0;
    padding: 15px;
    width: 75%;
  }
  
  .tech-container {
    justify-content: center;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
  }
  
  .links-container-2 {
    margin-top: 5px;
  }
  
  .aboutProject {
     text-align: center;
  }
  
  .links-container-2 {
    justify-content: center !important;
    flex-direction: column;
  }
}

@media screen  and (max-width: 600px) {
  .links-container-2 {
    flex-direction: column;
  }
}




@media screen  and (max-width: 1200px) {
  .project-card {
    display: flex;
    flex-direction: column;
  }
  
  .image-container {
    margin: 10px;
    margin-bottom: 2px;
    width: 80%;
  }
  
  .info-container {
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 0;
    height: auto;
    margin: 10px;
    margin-top: 0;
    padding: 15px;
    width: 75%;
  }
  
  .links-container-2 {
    margin-top: 5px;
    justify-content: center;
  }
  
  .tech-container {
    justify-content: center;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
  }
  
  .aboutProject {
    text-align: center;
 }
 
}